In [1]:
import yfinance as yf

In [3]:
tw0050 = yf.Ticker("0050.tw")

In [5]:
df0050 = tw0050.history(period='max')

In [7]:
df0050

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2008-01-02 00:00:00+08:00,42.407547,42.407547,42.407547,42.407547,0,0.0,0.0,0.0
2008-01-03 00:00:00+08:00,41.616062,41.616062,41.616062,41.616062,0,0.0,0.0,0.0
2008-01-04 00:00:00+08:00,41.700871,41.700871,41.700871,41.700871,0,0.0,0.0,0.0
2008-01-07 00:00:00+08:00,39.849380,39.849380,39.849380,39.849380,0,0.0,0.0,0.0
2008-01-08 00:00:00+08:00,40.266312,40.266312,40.266312,40.266312,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-07-17 00:00:00+08:00,196.399994,196.500000,193.600006,194.100006,14489778,0.0,0.0,0.0
2024-07-18 00:00:00+08:00,188.600006,190.899994,188.199997,190.600006,17880013,0.0,0.0,0.0
2024-07-19 00:00:00+08:00,188.750000,189.000000,186.199997,186.250000,16453910,0.0,0.0,0.0
2024-07-22 00:00:00+08:00,185.399994,185.399994,180.050003,180.699997,21211846,0.0,0.0,0.0
2024-07-23 00:00:00+08:00,183.699997,186.300003,183.699997,186.300003,12527079,0.0,0.0,0.0

In [9]:
mask = df0050['Open'] > df0050['Close']

In [11]:
mask

Date
2008-01-02 00:00:00+08:00    False
2008-01-03 00:00:00+08:00    False
2008-01-04 00:00:00+08:00    False
2008-01-07 00:00:00+08:00    False
2008-01-08 00:00:00+08:00    False
                             ...
2024-07-17 00:00:00+08:00     True
2024-07-18 00:00:00+08:00    False
2024-07-19 00:00:00+08:00     True
2024-07-22 00:00:00+08:00     True
2024-07-23 00:00:00+08:00    False
Length: 4066, dtype: bool

In [13]:
len(mask == False)

4066

In [15]:
len(mask)

4066

In [17]:
type(mask)

pandas.core.series.Series

In [21]:
mask[~mask].count()

2289

In [23]:
mask[mask].count()

1777

In [25]:
df0050.loc['2024-07-23']

Open             1.837000e+02
High             1.863000e+02
Low              1.837000e+02
Close            1.863000e+02
Volume           1.252708e+07
Dividends        0.000000e+00
Stock Splits     0.000000e+00
Capital Gains    0.000000e+00
Name: 2024-07-23 00:00:00+08:00, dtype: float64

In [29]:
df0050.loc['2024-07-10':'2024-07-23']

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-07-10 00:00:00+08:00,195.948737,197.391363,194.008654,197.341629,7168611,0.0,0.0,0.0
2024-07-11 00:00:00+08:00,199.629924,201.769002,198.983234,201.719254,9796730,0.0,0.0,0.0
2024-07-12 00:00:00+08:00,197.192377,197.341624,195.003565,195.351791,14158267,0.0,0.0,0.0
2024-07-15 00:00:00+08:00,196.645164,197.092889,195.103056,195.699997,9790185,0.0,0.0,0.0
2024-07-16 00:00:00+08:00,196.550003,199.000000,196.000000,196.850006,13255538,1.0,0.0,0.0
2024-07-17 00:00:00+08:00,196.399994,196.500000,193.600006,194.100006,14489778,0.0,0.0,0.0
2024-07-18 00:00:00+08:00,188.600006,190.899994,188.199997,190.600006,17880013,0.0,0.0,0.0
2024-07-19 00:00:00+08:00,188.750000,189.000000,186.199997,186.250000,16453910,0.0,0.0,0.0
2024-07-22 00:00:00+08:00,185.399994,185.399994,180.050003,180.699997,21211846,0.0,0.0,0.0
2024-07-23 00:00:00+08:00,183.699997,186.300003,183.699997,186.300003,12527079,0.0,0.0,0.0

In [31]:
df0050.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-07-17 00:00:00+08:00,196.399994,196.500000,193.600006,194.100006,14489778,0.0,0.0,0.0
2024-07-18 00:00:00+08:00,188.600006,190.899994,188.199997,190.600006,17880013,0.0,0.0,0.0
2024-07-19 00:00:00+08:00,188.750000,189.000000,186.199997,186.250000,16453910,0.0,0.0,0.0
2024-07-22 00:00:00+08:00,185.399994,185.399994,180.050003,180.699997,21211846,0.0,0.0,0.0
2024-07-23 00:00:00+08:00,183.699997,186.300003,183.699997,186.300003,12527079,0.0,0.0,0.0

In [35]:
df0050.index

DatetimeIndex(['2008-01-02 00:00:00+08:00', '2008-01-03 00:00:00+08:00',
               '2008-01-04 00:00:00+08:00', '2008-01-07 00:00:00+08:00',
               '2008-01-08 00:00:00+08:00', '2008-01-09 00:00:00+08:00',
               '2008-01-10 00:00:00+08:00', '2008-01-11 00:00:00+08:00',
               '2008-01-14 00:00:00+08:00', '2008-01-15 00:00:00+08:00',
               ...
               '2024-07-10 00:00:00+08:00', '2024-07-11 00:00:00+08:00',
               '2024-07-12 00:00:00+08:00', '2024-07-15 00:00:00+08:00',
               '2024-07-16 00:00:00+08:00', '2024-07-17 00:00:00+08:00',
               '2024-07-18 00:00:00+08:00', '2024-07-19 00:00:00+08:00',
               '2024-07-22 00:00:00+08:00', '2024-07-23 00:00:00+08:00'],
              dtype='datetime64[ns, Asia/Taipei]', name='Date', length=4066, freq=None)

In [37]:
df0050.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits',
       'Capital Gains'],
      dtype='object')

In [43]:
df0050.iloc[-1]

Open             1.837000e+02
High             1.863000e+02
Low              1.837000e+02
Close            1.863000e+02
Volume           1.252708e+07
Dividends        0.000000e+00
Stock Splits     0.000000e+00
Capital Gains    0.000000e+00
Name: 2024-07-23 00:00:00+08:00, dtype: float64

In [51]:
temp = df0050.loc['2022-07-01':'2022-07-14']
temp

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-07-01 00:00:00+08:00,108.169954,108.169954,104.007768,104.335136,34719560,0.0,0.0,0.0
2022-07-04 00:00:00+08:00,104.054542,104.943095,102.885390,103.306282,26442712,0.0,0.0,0.0
2022-07-05 00:00:00+08:00,105.270453,105.644576,101.950058,103.820702,16214458,0.0,0.0,0.0
2022-07-06 00:00:00+08:00,103.820704,103.867473,101.435631,101.809761,15611981,0.0,0.0,0.0
2022-07-07 00:00:00+08:00,102.370960,104.896333,101.529176,104.849564,13433190,0.0,0.0,0.0
2022-07-08 00:00:00+08:00,105.971947,106.533139,105.036626,105.925179,10177857,0.0,0.0,0.0
2022-07-11 00:00:00+08:00,106.299320,106.346082,104.615738,104.989868,7572953,0.0,0.0,0.0
2022-07-12 00:00:00+08:00,103.773937,103.773937,102.090363,102.464493,11133444,0.0,0.0,0.0
2022-07-13 00:00:00+08:00,105.691352,106.299312,105.317222,106.112244,24824897,0.0,0.0,0.0
2022-07-14 00:00:00+08:00,105.410750,106.860501,104.568966,106.626671,14750428,0.0,0.0,0.0

In [55]:
temp.iat[1,0]=float('Nan')

In [57]:
temp

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-07-01 00:00:00+08:00,108.169954,108.169954,104.007768,104.335136,34719560,0.0,0.0,0.0
2022-07-04 00:00:00+08:00,NaN,104.943095,102.885390,103.306282,26442712,0.0,0.0,0.0
2022-07-05 00:00:00+08:00,105.270453,105.644576,101.950058,103.820702,16214458,0.0,0.0,0.0
2022-07-06 00:00:00+08:00,103.820704,103.867473,101.435631,101.809761,15611981,0.0,0.0,0.0
2022-07-07 00:00:00+08:00,102.370960,104.896333,101.529176,104.849564,13433190,0.0,0.0,0.0
2022-07-08 00:00:00+08:00,105.971947,106.533139,105.036626,105.925179,10177857,0.0,0.0,0.0
2022-07-11 00:00:00+08:00,106.299320,106.346082,104.615738,104.989868,7572953,0.0,0.0,0.0
2022-07-12 00:00:00+08:00,103.773937,103.773937,102.090363,102.464493,11133444,0.0,0.0,0.0
2022-07-13 00:00:00+08:00,105.691352,106.299312,105.317222,106.112244,24824897,0.0,0.0,0.0
2022-07-14 00:00:00+08:00,105.410750,106.860501,104.568966,106.626671,14750428,0.0,0.0,0.0

In [59]:
temp.dropna()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-07-01 00:00:00+08:00,108.169954,108.169954,104.007768,104.335136,34719560,0.0,0.0,0.0
2022-07-05 00:00:00+08:00,105.270453,105.644576,101.950058,103.820702,16214458,0.0,0.0,0.0
2022-07-06 00:00:00+08:00,103.820704,103.867473,101.435631,101.809761,15611981,0.0,0.0,0.0
2022-07-07 00:00:00+08:00,102.370960,104.896333,101.529176,104.849564,13433190,0.0,0.0,0.0
2022-07-08 00:00:00+08:00,105.971947,106.533139,105.036626,105.925179,10177857,0.0,0.0,0.0
2022-07-11 00:00:00+08:00,106.299320,106.346082,104.615738,104.989868,7572953,0.0,0.0,0.0
2022-07-12 00:00:00+08:00,103.773937,103.773937,102.090363,102.464493,11133444,0.0,0.0,0.0
2022-07-13 00:00:00+08:00,105.691352,106.299312,105.317222,106.112244,24824897,0.0,0.0,0.0
2022-07-14 00:00:00+08:00,105.410750,106.860501,104.568966,106.626671,14750428,0.0,0.0,0.0

In [61]:
temp

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-07-01 00:00:00+08:00,108.169954,108.169954,104.007768,104.335136,34719560,0.0,0.0,0.0
2022-07-04 00:00:00+08:00,NaN,104.943095,102.885390,103.306282,26442712,0.0,0.0,0.0
2022-07-05 00:00:00+08:00,105.270453,105.644576,101.950058,103.820702,16214458,0.0,0.0,0.0
2022-07-06 00:00:00+08:00,103.820704,103.867473,101.435631,101.809761,15611981,0.0,0.0,0.0
2022-07-07 00:00:00+08:00,102.370960,104.896333,101.529176,104.849564,13433190,0.0,0.0,0.0
2022-07-08 00:00:00+08:00,105.971947,106.533139,105.036626,105.925179,10177857,0.0,0.0,0.0
2022-07-11 00:00:00+08:00,106.299320,106.346082,104.615738,104.989868,7572953,0.0,0.0,0.0
2022-07-12 00:00:00+08:00,103.773937,103.773937,102.090363,102.464493,11133444,0.0,0.0,0.0
2022-07-13 00:00:00+08:00,105.691352,106.299312,105.317222,106.112244,24824897,0.0,0.0,0.0
2022-07-14 00:00:00+08:00,105.410750,106.860501,104.568966,106.626671,14750428,0.0,0.0,0.0

In [65]:
temp.fillna(method='bfill')

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-07-01 00:00:00+08:00,108.169954,108.169954,104.007768,104.335136,34719560,0.0,0.0,0.0
2022-07-04 00:00:00+08:00,105.270453,104.943095,102.885390,103.306282,26442712,0.0,0.0,0.0
2022-07-05 00:00:00+08:00,105.270453,105.644576,101.950058,103.820702,16214458,0.0,0.0,0.0
2022-07-06 00:00:00+08:00,103.820704,103.867473,101.435631,101.809761,15611981,0.0,0.0,0.0
2022-07-07 00:00:00+08:00,102.370960,104.896333,101.529176,104.849564,13433190,0.0,0.0,0.0
2022-07-08 00:00:00+08:00,105.971947,106.533139,105.036626,105.925179,10177857,0.0,0.0,0.0
2022-07-11 00:00:00+08:00,106.299320,106.346082,104.615738,104.989868,7572953,0.0,0.0,0.0
2022-07-12 00:00:00+08:00,103.773937,103.773937,102.090363,102.464493,11133444,0.0,0.0,0.0
2022-07-13 00:00:00+08:00,105.691352,106.299312,105.317222,106.112244,24824897,0.0,0.0,0.0
2022-07-14 00:00:00+08:00,105.410750,106.860501,104.568966,106.626671,14750428,0.0,0.0,0.0

In [ ]:
import matplotlib.